h1{
    color: gold;
    font-size: 140px;
    font-family: Verdana;
    animation-fill-mode: forwards; 
}
#mazecanvas{
    border: 1px solid purple;
    width: 0px;
    height: 0px;
}

body{
    background-image: url('Betty.gif');
    background-color: orchid; 
}
p{
    color: gold;
    font-size: 140px;
    font-family: Verdana;
    animation-fill-mode: forwards; 
}

